REACT_APP_SUPABASE_URL=https://supabase.acentosdeco.lat/
REACT_APP_SUPABASE_ANON_ID=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzY5NzQ1NjAwLCJleHAiOjE5Mjc1MTIwMDB9.raPZE6qJLWzmxpUNbkodu0aXuc9gkzGEqk5ozmoOOXI
